AUTH_SECRET=<secret> # Added by `npx auth`. 
NEXT_PUBLIC_APP_NAME= <website name>
NEXT_PUBLIC_APP_SLOGAN= <slogan>
NEXT_PUBLIC_APP_DESCRIPTION= <description of website>
NEXTAUTH_URL= <Authenticated URL>

MONGODB_URI= <mongodb connection string>

AUTH_GOOGLE_CLIENTID= <ID>
AUTH_GOOGLE_SECRET= <secret>

UPLOADTHING_TOKEN=<token>

SENDER_NAME=<name>
SENDER_EMAIL=<email for resend>
RESEND_API_KEY= <api key from resend>

MPESA_CONSUMER_KEY=""
MPESA_CONSUMER_SECRET=""  
MPESA_SHORTCODE=""
MPESA_PASSKEY=""
MPESA_ACCESS_TOKEN=Y""

NEXT_PUBLIC_SITE_URL= ""